/ComunicacaoServidores/ComunicacaoComServlets/nbproject/private/
/ComunicacaoServidores/nbproject/private/
/ExercicioJRelogio/build/
/Padroes_de_Projeto/fabrica_abstrata/FabricaAbstrataTemaInterface/build/
/Padroes_de_Projeto/fabrica_abstrata/FabricaAbstrataTemaInterface/nbproject/private/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstros_resolvido/GameChuvendoMonstros/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstros/GameChuvendoMonstros/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstros/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstros - Copia/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstrosSemPadrao/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstrosComPadrao/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstrosComMetodoFabrica/target/
RevisaoJava/Andar.class
*.class
/Padroes_de_Projeto/Criação/metodo_fabrica/ImagemMetodoFabrica/build/
/Padroes_de_Projeto/Criação/metodo_fabrica/ImagemMetodoFabrica/dist/
/Streams_e_Serializacao/LeituraCSV/JavaApplication21/nbproject/private/
/Streams_e_Serializacao/LeituraCSV/LeituraDeArquivoTxt/nbproject/private/
/Streams_e_Serializacao/LeituraCSV/nbproject/private/
/Streams_e_Serializacao/Pipe/Pipe/nbproject/private/
/Streams_e_Serializacao/Pipe/Pipe/dist/
/Streams_e_Serializacao/Pipe/Pipe/build/
/Streams_e_Serializacao/ExercicioBlog/ExercicioBlog/nbproject/private/
/Streams_e_Serializacao/ExercicioBlog/ExercicioBlog/build/
/Streams_e_Serializacao/ExercicioBlog/nbproject/private/
/Streams_e_Serializacao/UsuarioSerializado/nbproject/private/
/Streams_e_Serializacao/UsuarioSerializado/build/
/Streams_e_Serializacao/TesteClonagem/nbproject/private/
/Streams_e_Serializacao/TesteClonagem/build/
/Padroes_de_Projeto/Estrutural/Adapter/AdapterSMS/dist/
/Padroes_de_Projeto/Estrutural/Adapter/ListaAdapter/nbproject/private/
/Padroes_de_Projeto/Estrutural/Adapter/ListaAdapter/build/
/Padroes_de_Projeto/Estrutural/Decorator/DecoratorFesta/nbproject/private/
/Padroes_de_Projeto/Estrutural/Decorator/DecoratorFesta/build/
/Padroes_de_Projeto/Estrutural/Decorator/WebJSON/build/
/Padroes_de_Projeto/Estrutural/Decorator/WebJSON/nbproject/private/
/Padroes_de_Projeto/Estrutural/Decorator/ServletHTML/nbproject/private/
/Padroes_de_Projeto/Estrutural/Decorator/ServletHTML/build/
/Padroes_de_Projeto/Estrutural/Decorator/ServletHTML/dist/
/Padroes_de_Projeto/Estrutural/Decorator/JavaWindowDecorator/build/
/Padroes_de_Projeto/Estrutural/Decorator/JavaWindowDecorator/nbproject/private/
/Padroes_de_Projeto/Estrutural/Adapter/CarrinhoDeCompras/nbproject/private/
/Padroes_de_Projeto/Comportamental/Estrategia/MoverArquivos/nbproject/private/
/Padroes_de_Projeto/Comportamental/Template/TemplateExportFiles/nbproject/private/
/Padroes_de_Projeto/Comportamental/Template/TemplateExportFiles - Copia/nbproject/private/
/Padroes_de_Projeto/Comportamental/Template/TemplateExportTeste/nbproject/private/
/Padroes_de_Projeto/Comportamental/Estrategia/MoverArquivos/build/
/Padroes_de_Projeto/Comportamental/Template/TrabalhadorTemplate/nbproject/private/
/Padroes_de_Projeto/Comportamental/Template/TrabalhadorTemplate/build/
/Padroes_de_Projeto/Comportamental/Template/TemplateExportFiles/build/
/Padroes_de_Projeto/Comportamental/Visitor/TeleTaxi/nbproject/private/
/Padroes_de_Projeto/Comportamental/Visitor/TeleTaxi/build/
/Padroes_de_Projeto/Comportamental/Iterator/IteradorCarros/nbproject/private/
/Padroes_de_Projeto/Comportamental/Iterator/IteradorCarros/build/
/HTML5/HTML5Sample/nbproject/private/
/HTML5/HTML5Sampe/nbproject/private/
/HTML5/HTML5Sample/build/
/HTML5/HTML5Sample/dist/
/Padroes_de_Projeto/Criação/singleton/DataBaseExample/dist/
/Padroes_de_Projeto/Estrutural/Bridge/LanchoneteRefrigerantes/nbproject/private/
/Padroes_de_Projeto/Estrutural/Bridge/LanchoneteRefrigerantes/build/
/Padroes_de_Projeto/Comportamental/Cadeia_de_Responsabilidade/Pagamentos/nbproject/private/
/Padroes_de_Projeto/Comportamental/Cadeia_de_Responsabilidade/Pagamentos/build/
/Streams_e_Serializacao/LeituraCSV/build//Padroes_de_Projeto/Estrutural/Adapter/ClienteExterno/nbproject/private/
/Padroes_de_Projeto/Estrutural/R/ClienteExterno/nbproject/private/
/Padroes_de_Projeto/Estrutural/R/AdapterCliente/nbproject/private/
/Padroes_de_Projeto/Estrutural/R/AdapterCliente/build/
/Padroes_de_Projeto/FlutentInterface-Pedidos/nbproject/private/
/Padroes_de_Projeto/FlutentInterface-Pedidos/build/
