/ComunicacaoServidores/ComunicacaoComServlets/nbproject/private/
/ComunicacaoServidores/nbproject/private/
/ExercicioJRelogio/build/
/Padroes_de_Projeto/fabrica_abstrata/FabricaAbstrataTemaInterface/build/
/Padroes_de_Projeto/fabrica_abstrata/FabricaAbstrataTemaInterface/nbproject/private/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstros_resolvido/GameChuvendoMonstros/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstros/GameChuvendoMonstros/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstros/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstros - Copia/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstrosSemPadrao/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstrosComPadrao/target/
/Padroes_de_Projeto/Criação/metodo_fabrica/GameChuvendoMonstrosComMetodoFabrica/target/
RevisaoJava/Andar.class
*.class
/Padroes_de_Projeto/Criação/metodo_fabrica/ImagemMetodoFabrica/build/
/Padroes_de_Projeto/Criação/metodo_fabrica/ImagemMetodoFabrica/dist/
/Streams_e_Serializacao/LeituraCSV/JavaApplication21/nbproject/private/
/Streams_e_Serializacao/LeituraCSV/LeituraDeArquivoTxt/nbproject/private/
/Streams_e_Serializacao/LeituraCSV/nbproject/private/
/Streams_e_Serializacao/Pipe/Pipe/nbproject/private/
/Streams_e_Serializacao/Pipe/Pipe/dist/
/Streams_e_Serializacao/Pipe/Pipe/build/
/Streams_e_Serializacao/ExercicioBlog/ExercicioBlog/nbproject/private/
/Streams_e_Serializacao/ExercicioBlog/ExercicioBlog/build/
/Streams_e_Serializacao/ExercicioBlog/nbproject/private/
/Streams_e_Serializacao/UsuarioSerializado/nbproject/private/
/Streams_e_Serializacao/UsuarioSerializado/build/